/* Basics */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background: #f9f9f9;
}

a, a:hover, a:visited, a:target {
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:active {
    color: #EDA831;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d5d5d5;
}

h1, h2, h3 {
    font-family: 'Lato';
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 10px 0;
}

main {
    margin-top: 56px;
    min-height: calc(100vh - 231px);
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide {
    display: none !important;
    opacity: 0 !important;
}

/* Buttons */

.button {
    display: inline-block;
    color: #fff;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.button:hover {
    background: #555;
 }

#getstarted {
    border: 1px solid #fff;
}

input[type="submit"] {
    display: inline-block;
    color: #000;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background: #d5d5d5;
}

input[type="submit"] {
    font-size: 14px;
    padding: 8px 14px;
    margin: 10px 5px 0 0;
}

.button-blue {
    background: blue !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.button-blue:hover {
    background: black !important;
 }

.button-orange {
    background: #EDA831 !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.button-orange:hover {
    background: black !important;
}

.button-black {
    background: #000 !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.button-black:hover {
    background: blue !important;
}

/* Navigation bar */

#sitenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    background: black;
    z-index: 99999;
    padding: 15px 25px;
    border-bottom: 1px solid #e8e8e8;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#lionfish {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#lionfish:after {
    content: '.';
    position: absolute;
    bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1em;
    vertical-align: middle;
    color: #EDA831;
}

#snb {
    float: right;
}

    #snb a {
        margin: 0 0 0 10px;
        border-radius: 15px;
        font-weight: bold;
    }

/* Index/login page */

.sect-index {
    padding: 35px;
}

    .sect-index .button {
        background: #e8e8e8;
        font-size: 14px;
        padding: 8px 14px;
        margin: 10px 5px 0 0;
    }

.move {
    position: relative;
    height: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.35);
    margin: 55px;
    border-radius: 15px;
    overflow: auto;
}

    .move img {
        float: left;
        max-width: 230px;
        height: auto;
        border-radius: 15px;
    }

        .move img + div {
            float: left;
            margin: 0 0 0 35px;
            max-width: calc(100% - 265px);
        }

    .move h2 {
        font-size: 34px;
    }

    .move p {
        line-height: 1.4em;
        font-size: 24px;
    }

#huge {
    background: rgba(216,226,243,1);
    background: -moz-linear-gradient(45deg, rgba(216,226,243,1) 0%, rgba(255,242,204,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(216,226,243,1)), color-stop(100%, rgba(255,242,204,1)));
    background: -webkit-linear-gradient(45deg, rgba(216,226,243,1) 0%, rgba(255,242,204,1) 100%);
    background: -o-linear-gradient(45deg, rgba(216,226,243,1) 0%, rgba(255,242,204,1) 100%);
    background: linear-gradient(45deg, rgba(216,226,243,1) 0%, rgba(255,242,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e2f3', endColorstr='#fff2cc', GradientType=1 );
    padding: 30vh 25px 50px 25px;
    margin-bottom: 25px;
}

    #huge h1 {
        font-size: 80px;
    }

    #huge p {
        font-size: 30px;
        max-width: 800px;
    }

@media screen and (max-width: 1000px) {
    #huge {
        padding: 25vh 25px 50px 25px;
    }

        #huge h1 {
            font-size: 60px;
        }

        #huge p {
            font-size: 27.5px;
        }

    .move {
        margin: 25px;
        border-radius: 15px;
        overflow: auto;
    }

        .move h2 {
            font-size: 28px;
        }

        .move p {
            line-height: 1.4em;
            font-size: 20px;
        }
}

@media screen and (max-width: 675px) {
    #huge {
        padding: 20vh 25px 25px 25px;
    }

        #huge h1 {
            font-size: 40px;
        }

        #huge p {
            font-size: 25px;
        }

    .move {
        box-shadow: 0 0 0 transparent;
        border-bottom: 1px solid #dfdfdf;
        border-radius: 0;
        margin: 40px 20px;
        padding: 0 20px 40px 20px;
    }

        .move:nth-child(n-1) {
            border-bottom: none;
            padding: 0 20px 10px 20px;
        }

        .move img {
            float: left;
            max-width: 100%;
            height: auto;
        }

            .move img + div {
                float: left;
                margin: 20px 0 0 0;
                max-width: 100%;
            }

        .move h2 {
            font-size: 28px;
        }

        .move p {
            font-size: 20px;
        }
}

footer {
    bottom: 0;
    margin-top: 55px;
    width: 100%;
    height: 120px;
    background: #000;
    box-shadow: 0 -5px 0 #000;
    border-top: 5px solid #fff;
}

/* Login */

#logsign {
    position: fixed;
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px 0 0 35px;
    overflow: scroll;
}

.block-logsign {
    min-width: 330px;
    max-width: 335px;
    margin: 0 0 50px 0;
}

.ungriddy, .griddy {
    float: left;
}

.griddy {
    background: #d5d5d5;
    height: calc(100% + 35px);
    margin: -35px 0 0 35px;
    width: calc(100% - 370px);
}

input[type=text], input[type=email], input[type=password], select {
    width: 100% !important;
    padding: 10px 18px;
    margin: 7px 0;
    display: inline-block;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.block-password {
    position: relative;
}

.show-password {
    position: absolute;
    bottom: 36%;
    right: 10px;
    font-size: 11px;
    text-transform: uppercase;
    color: #aaa;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 575px) {
    .block-logsign {
        width: 100%;
    }
}

.error {
    color: indianred;
}

#tip-strength {
    width: 310px;
    vertical-align: middle;
}

    #tip-strength p {
        float: left;
        padding: 0;
        margin: 0;
    }

#strength-color {
    float: left;
    border-radius: 100%;
    background: black;
    width: 10px;
    height: 10px;
    margin: 7px 12px 0 0;
}

#strength-title {
    float: left;
    margin: 3px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-family: consolas;
    font-size: 13px;
}

/* Landing */

.block-center {
    position: fixed;
    background: #f9f9f9;
    width: 100%;
    margin: 0 0 50px 0;
    height: 100%;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px 0 0 35px;
    overflow: scroll;
}

#conf-email, #conf-reset {
    max-width: 330px;
}

    #conf-email img, #conf-reset img {
        max-width: 100%;
        height: auto;
    }
