@{
    Layout = null;
    ViewBag.Title = "Faggot";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="thisnewfag">
        <h2>Press button to test changing of page.</h2>
        <button type="button" onclick="loadDoc()">Change Content</button>
    </div>
</body>
</html>
