@model LionFishWeb.Models.User

@{
    ViewBag.Title = "Confirm Email";
}

<main>
    <section class="block-center">
        <div class="ungriddy">
            <div id="conf-email">
                <img src="https://www.idealpath.com/images/benchmark-email-ctr-industry-building.png" />
                <h2>You're almost done.</h2>
                <p>A confirmation email has been sent to @Model.Email. If you can't find it, try looking in your spam folder.</p>
                <input type="text" placeholder="Confirmation code"/>
                <a class="button button-blue" asp-page="/Index">Submit</a>
                <a class="button button-black" asp-page="/Index">Resend email</a>
            </div>
        </div>
        <div class="griddy"></div>
    </section>
</main>