@model LionFishWeb.Models.User

@{
    ViewBag.Title = "Forgot Password";
}

<!DOCTYPE html>

<main>
    <section id="logsign">
        <div class="ungriddy">
            <div id="block-forgot" class="block-logsign">
                <h1>Forgot your password?<span style="color:#EDA831;">.</span></h1>
                <p>No worries. To reset your password, enter the email address you used to sign up in the box below.</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { id = "input-forgot-email", @class = "input-email", placeholder = "Email address" } })
                    </div>
                    <div>
                        <div class="g-recaptcha" data-sitekey="6LcPQ30UAAAAAFRDS6_hR4jehjr1-PliyM1R5HLG"></div>
                        <input formaction=@Url.Action("SubmitEmailAsync") formmethod="post" type="submit" id="submit-email" class="button-black" value="Submit">
                    </div>
                }
            </div>
            <div>
                Wrong page? @Html.ActionLink("Sign Up.", "SignUp", "Home", new { area = "" }, new { id = "", @class = "" }) or @Html.ActionLink("Log in.", "LogIn", "Home", new { area = "" }, new { id = "", @class = "" })
            </div>
        </div>
        <div class="griddy"></div>
    </section>
</main>
